@page "/"

<PageTitle>BirdApp</PageTitle>

<h1>Welcome to BirdApp</h1>

<p>Select the app you want to launch from the sidebar.</p>

<div>
    <hr />
    <p>
        Version: <code>1.0.3</code>
    </p>
</div>