<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BirdApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> BirdApp
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/DelayedCertificateIssuingMachine/">
                <span class="oi" aria-hidden="true"></span> Delayed Certificate Issuing Machine
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/Calc/">
                <span class="oi" aria-hidden="true"></span> Calc
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/MediaPlayer">
                <span class="oi" aria-hidden="true"></span> MediaPlayer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/Clock">
                <span class="oi" aria-hidden="true"></span> Clock
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/Paint">
                <span class="oi" aria-hidden="true"></span> Paint
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/Calendar">
                <span class="oi" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/News">
                <span class="oi" aria-hidden="true"></span> News
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/Map">
                <span class="oi" aria-hidden="true"></span> Map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://moton-03.github.io/Counter">
                <span class="oi" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
